USE [master]
GO
/****** Object:  Database [SGFoodDW]    Script Date: 10/04/2026 22:29:16 ******/
CREATE DATABASE [SGFoodDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SGFoodDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SGFoodDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SGFoodDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SGFoodDW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SGFoodDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SGFoodDW]
GO
/****** Object:  Table [dbo].[auditoria_validacion]    Script Date: 10/04/2026 22:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditoria_validacion](
	[cliente_id] [varchar](20) NULL,
	[producto_sku] [varchar](30) NULL,
	[fecha] [date] NULL,
	[cantidad_excel] [int] NULL,
	[cantidad_dw] [int] NULL,
	[total_excel] [decimal](18, 2) NULL,
	[total_dw] [decimal](18, 2) NULL,
	[tipo_resultado] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_canal]    Script Date: 10/04/2026 22:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_canal](
	[canal_key] [int] IDENTITY(1,1) NOT NULL,
	[canal_venta] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[canal_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_cliente]    Script Date: 10/04/2026 22:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_cliente](
	[cliente_key] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [varchar](20) NULL,
	[cliente_nombre] [varchar](120) NULL,
	[segmento_cliente] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[cliente_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_fecha]    Script Date: 10/04/2026 22:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_fecha](
	[fecha_key] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[anio] [int] NULL,
	[mes] [int] NULL,
	[nombre_mes] [varchar](20) NULL,
	[trimestre] [int] NULL,
	[dia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fecha_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_producto]    Script Date: 10/04/2026 22:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_producto](
	[producto_key] [int] IDENTITY(1,1) NOT NULL,
	[producto_sku] [varchar](30) NULL,
	[producto_nombre] [varchar](120) NULL,
	[marca] [varchar](60) NULL,
	[categoria] [varchar](60) NULL,
	[subcategoria] [varchar](60) NULL,
	[fabricante] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[producto_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_ubicacion]    Script Date: 10/04/2026 22:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ubicacion](
	[ubicacion_key] [int] IDENTITY(1,1) NOT NULL,
	[departamento] [varchar](60) NULL,
	[municipio] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[ubicacion_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_ventas]    Script Date: 10/04/2026 22:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_ventas](
	[venta_key] [int] IDENTITY(1,1) NOT NULL,
	[fecha_key] [int] NOT NULL,
	[cliente_key] [int] NOT NULL,
	[producto_key] [int] NOT NULL,
	[ubicacion_key] [int] NOT NULL,
	[canal_key] [int] NOT NULL,
	[cantidad_vendida] [int] NULL,
	[precio_unitario] [decimal](18, 2) NULL,
	[costo_unitario] [decimal](18, 2) NULL,
	[descuento] [decimal](18, 2) NULL,
	[total_venta] [decimal](18, 2) NULL,
	[existencia_antes] [int] NULL,
	[existencia_despues] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[venta_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_canal] FOREIGN KEY([canal_key])
REFERENCES [dbo].[dim_canal] ([canal_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_canal]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_cliente] FOREIGN KEY([cliente_key])
REFERENCES [dbo].[dim_cliente] ([cliente_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_cliente]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_fecha] FOREIGN KEY([fecha_key])
REFERENCES [dbo].[dim_fecha] ([fecha_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_fecha]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_producto] FOREIGN KEY([producto_key])
REFERENCES [dbo].[dim_producto] ([producto_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_producto]
GO
ALTER TABLE [dbo].[fact_ventas]  WITH CHECK ADD  CONSTRAINT [FK_fact_ubicacion] FOREIGN KEY([ubicacion_key])
REFERENCES [dbo].[dim_ubicacion] ([ubicacion_key])
GO
ALTER TABLE [dbo].[fact_ventas] CHECK CONSTRAINT [FK_fact_ubicacion]
GO
USE [master]
GO
